<div data-controller="edit-storyline">
  <%= simple_form_for(@storyline) do |form| %>
    <div class="form-inputs">
      <%= form.input :title,
                  required: true,
                  autofocus: true,
                  label: "Titre" %>
      <%= form.input :theme,
                  required: true,
                  label: "Thème"%>
      <%= form.input :photo,
                  label: 'Photo' %>
      <%= form.input :difficulty,
                  label: "Difficultée" %>
      <%= form.input :duration,
                  label: "Durée" %>
      <%= form.input :district,
                  required: true,
                  label: "Arrondissement" %>
      <%= form.input :long_description,
                  as: :text,
                  required: true,
                  label: "Description",
                  input_html: {
                    data: {
                      edit_storyline_target: "description",
                      action: "input->edit-storyline#adjustHeight"
                    }
                  } %>
      <%= form.input :introduction,
                  label: "Introduction",
                  input_html: {
                    data: {
                      edit_storyline_target: "introduction",
                      action: "input->edit-storyline#adjustHeight"
                    }
                  } %>
    </div>

    <div id="places-fields" data-edit-storyline-target="placesContainer">
      <%# @storyline.places.each do |place| %>
        <%= form.simple_fields_for :places do |p| %>
            <%= render 'place_fields', form: p %>
        <% end %>
      <%# end %>
    </div>
    <%= link_to_add_nested(form, :places, '#places-fields',
                              partial: 'place_fields',
                              link_classes: 'btn btn-primary',
                              link_text: 'Ajouter un lieu') %>

    <div class="form-actions d-flex justify-content-end">
      <%= form.button :submit, "Valider", class:"btn-home" %>
    </div>
  <% end %>
</div>
