<div data-controller="edit-storyline">
  <%= form_for(@storyline) do |form_story| %>
    <div class="form-inputs">
      <%= form_story.label :title %>
      <%= form_story.text_field :title,
                  required: true,
                  autofocus: true,
                  label: "Titre" %>
      <%= form_story.label :theme %>
      <%= form_story.text_field :theme,
                  required: true,
                  label: "Thème"%>
      <%= form_story.file_field :photo,
                  io: :file,
                  label: 'Photo' %>
      <%= form_story.label :difficulty %>
      <%= form_story.text_field :difficulty,
                  label: "Difficultée" %>
      <%= form_story.label :duration %>
      <%= form_story.text_field :duration,
                  label: "Durée" %>
      <%= form_story.label :district %>
      <%= form_story.text_field :district,
                  required: true,
                  label: "Arrondissement" %>
      <%= form_story.label :long_description %>
      <%= form_story.text_field :long_description,
                  as: :text,
                  required: true,
                  label: "Description",
                  input_html: {
                    data: {
                      edit_storyline_target: "description",
                      action: "input->edit-storyline#adjustHeight"
                    }
                  } %>
      <%= form_story.label :introduction %>
      <%= form_story.text_field :introduction,
                  label: "Introduction",
                  input_html: {
                    data: {
                      edit_storyline_target: "introduction",
                      action: "input->edit-storyline#adjustHeight"
                    }
                  } %>
    </div>

    <%= p form_story.object %>

    <div id="places_fields">
      <%= form_story.fields_for :places do |form_place| %>
        <%= render 'place_fields', form: form_place %>
      <% end %>
    </div>
    <%= link_to_add_nested(form_story, :places, '#places_fields',
                              partial: 'place_fields',
                              link_classes: 'btn btn-primary',
                              link_text: 'Ajouter un lieu',
                              idx_placeholder: "_idx1") %>

    <div class="form-actions d-flex justify-content-end">
      <%= form_story.button "Valider", type: "submit", class:"btn-home" %>
    </div>
  <% end %>
</div>
