  <ul class="dropdown-menu"
    data-controller="burger"
    data-burger-game-id-value="<%= defined?(@game) ? @game.id  : '' %>">

    <li>
      <div class="dropdown-item burger-item">
        <i class="fa-solid fa-rotate-right burger-item-icon"></i>
        <p class="burger-item-title" data-action="click->burger#refresh">Actualiser</p>
      </div>
    </li>
    <% if defined?(@game) && @game.status == 'running' %>
      <li>
        <div class="dropdown-item burger-item">
          <i class="fa-solid fa-qrcode burger-item-icon"></i>
          <p class="burger-item-title"><%= @game.pin %></p>
        </div>
      </li>
      <% if @game.user == current_user %>
        <li>
          <div class="dropdown-item burger-item">
            <i class="fa-solid fa-xmark burger-item-icon"></i>
            <p class="burger-item-title" data-action="click->burger#endGame">Fin de partie</p>
          </div>
        </li>
      <% end %>
    <% end %>
    <li>
      <%= link_to root_path, class: "dropdown-item" do %>
        <div class="burger-item">
          <i class="fa-solid fa-house burger-item-icon"></i>
          <p class="burger-item-title">Accueil</p>
        </div>
      <% end %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
          <div class="burger-item">
            <i class="fa-solid fa-door-open burger-item-icon"></i>
            <p class="burger-item-title">Se déconnecter</p>
          </div>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_user_session_path(log_in_options), class:"dropdown-item" do %>
          <div class="burger-item">
            <i class="fa-solid fa-user burger-item-icon"></i>
            <p class="burger-item-title">Se connecter</p>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path(log_in_options), class:"dropdown-item" do %>
          <div class="burger-item">
            <i class="fa-solid fa-user-plus burger-item-icon"></i>
            <p class="burger-item-title">Créer un compte</p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
