<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= riddle.question %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <%= simple_form_for :question, url: "#", html: { data: { answer_modal_target: "form", action: "submit->answer-modal#verifyAnswer" } } do |f| %>
          <%= f.input :answer, label: "Ta réponse:", required: false  %>
          <%= f.submit "Valider ma réponse", class: "btn-home" %>
        <% end %>

        <div class="d-none" data-answer-modal-target="response">
          <%= riddle.solution %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-answer-modal-target="closeModal" class="btn btn-secondary d-none" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary d-none">Save changes</button>
      </div>
    </div>
  </div>
</div>
