<%#= render 'shared/scripts/toastify' %>

<div class= "pages-backscreen">

    <div class="burger-menu dropdown">
        <i class="fa-solid fa-bars btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </i>
        <%= render 'shared/burger'%>
      </div>
  <div class="background-top-title">
    <div class="menu">
      <div class="menu-title"><h4><%= @game.storyline.title %></h4></div>
    </div>
  </div>

  <div class="p-3 my-3">
    <div class="folder-endgame">
      <%= cl_image_tag @game.storyline.photo.key, alt: (@game.storyline.title + "-picture"), id: "storyline-picture-intro", class: "storyline-picture-card" %>
    <div class="riddle-solving">
      <h4>Félicitations !</h4>
      <div class="">
        <p>Vous avez terminé le jeu de piste <%= @game.storyline.title %> !</p>
      </div>
    </div>

  <h4>Joueurs</h4>
  <div class="playtime">
    <% @game.participations.each do |player| %>
    <div class="playtime-info">
      <% if player.user.photo.attached? %>
        <%= cl_image_tag(player.user.photo.key, class:'avatar') %>
        <%= (player.user.name.downcase) %>
      <% else %>
        <img src="https://i.ibb.co/PFHbc3Z/profilephoto.png" alt="user-picture" class="avatar">
      <% end %>
      </div>
    <% end %>
  </div>

    <div class="score-time">
      <div class="">
        <h4>Score</h4>
        <p style="color: gold;">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </p>
      </div>
      <div>
        <h4>Temps de jeu </h4>
          <%= @game.format_duration(@game.end_time - @game.start_time) %>
      </div>
    </div>

    <div class="riddle-solving">


      <h4> Énigmes résolues <%= @game.answers.where(correct: true).count %>/<%= @game.riddles.count%></h4>
        <p>
          <% @game.answers.group_by(&:solver).each do |solver, answer| %>
            <%= solver.name.capitalize %> a résolu <%= answer.select(&:correct).count %> <%= answer.select(&:correct).count > 1 ? 'énigmes' : 'énigme' %>
            - <%= answer.reject(&:correct).count %> <%= answer.reject(&:correct).count > 1 ? 'mauvaises réponses' : 'mauvaise réponse' %><br>
          <% end %>
        </p>
      <%# <ul class="">
        <%  @game.answers.each do |answer|%>
          <%# <li>  = answer.solver.name.capitalize a résolu = answer.riddle.title </li> %>
        <%# end %>
      <%# </ul> %>
    </div>
 </div>
     <%= link_to "Retour au menu principal", root_path, class:"btn-ugly" %>
  </div>
</div>
