<div class="places-tabs">
  <ul class="nav nav-pills nav-justified border-bottom" data-action="click->game#switchPanel">
    <% game.places.each_with_index do |place, index| %>
      <% if place.validated?(game) || place == game.current_place %>
        <li class="nav-item">
          <button class="nav-link <%= place == game.current_place ? 'active' : '' %>" data-game-target="placeTab" data-index="<%= index %>" data-action="click->game#activate">
            <% if place.photo.attached? %>
              <%= cl_image_tag(place.photo.key, width: 75, height: 45, crop: 'fill', data: { index: index }) %>
            <% else %>
              <%= image_tag('compas.png', width: 75, height: 45, crop: 'fill', data: { index: index }) %>
            <% end %>
          </button>
        </li>
      <% else %>
        <li class="nav-item">
          <button class="nav-link" href="#" data-game-target="placeTab" data-index="<%= index %>" data-action="click->game#activate" disabled>
            <%= image_tag('place-locked.png', width: 75, height: 45, crop: 'fill') %>
          </button>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="tabs-place">
  <% game.places.each_with_index do |place, place_index| %>
    <% if place.validated?(game) || place == game.current_place %>
      <div class="mt-3 riddles-content-container <%= place == game.current_place ? '' : 'd-none' %>" data-game-target="placePanel" data-index="<%= place_index %>">

      <div class="folder-game-place">
        <div class="hello">
          <h1><%= place.name %></h1>
        </div>

        <% if place.photo.attached? %>
          <%= cl_image_tag(place.photo.key, class:'place-picture') %>
        <% else %>
          <%= image_tag('compass.png', class:'place-picture') %>
        <% end %>
        <div class="mt-3 container">
            <p><%= place.description %></p>
          </div>
      </div>

        <% place.riddles.each_with_index do |riddle, riddle_index| %>
          <% if riddle.validated?(game) || place.current_riddle(game) == riddle %>
            <div class="riddle-container my-3" data-game-target="riddleContainer">
              <div class="pair">
                <div class="show-title"><h4>Énigme <%= riddle_index + 1 %>/<%= place.riddles.count %></h4></div>
              </div>

              <div class="folder-show">
                <div>
                  <% if riddle.photo.attached? %>
                    <%= cl_image_tag(riddle.photo.key, alt: "#{riddle.title} -photo", class: "photos-img") %>
                  <% else %>
                    <%= image_tag('compass.png', alt: "#{place.name} -photo", class: "photos-img") %>
                  <% end %>
                </div>

                <h4><%= riddle.title %></h4>
                <%= simple_format(riddle.description) %>
                <p><strong><i class="fa-solid fa-puzzle-piece" style="color: #1d2b48;"></i> <%= riddle.question %></strong></p>

                <% if place.current_riddle(game) == riddle %>
                  <div class='d-flex justify-content-center d-none'
                    data-controller="answer-modal"
                    data-game-target="displayAnswerBtn"
                    data-answer-modal-game-id-value="<%= game.id %>"
                    data-answer-modal-riddle-id-value="<%= game.current_place.current_riddle(game).id %>">

                    <% if game.current_place.current_riddle(game).motion_type == 'static' %>
                      <button class="btn-home" data-action="click->answer-modal#openModal">Répondre</button>
                      <%= render "games/answer_modal", riddle: game.current_place.current_riddle(game), game: game %>
                      <div data-answer-modal-target="displayriddle"></div>

                    <% elsif game.current_place.current_riddle(game).motion_type == 'shifting' %>
                      <%= simple_form_for :question, url: "#", html: { data: { riddle_id: game.current_place.current_riddle(game).id, game_target: "mapForm", action: "submit->game#verifyPosition" } } do |f| %>
                        <%= f.submit "Envoyer ma position", class: 'btn-home' %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
