<div class="container" data-controller="lobby" data-lobby-id-value="<%= @game.id %>">
  <h1 class="mt-3 text-center lobby-title"><%= @storyline_title %></h1>
  <div class="lobby-qrcode"></div>
  <h2 class="mt-5 text-center lobby-pin">PIN: <%= @game.pin %></h2>

  <div class="mt-5 lobby-players-list" data-lobby-target="players">
    <%= render(partial: "player", locals: { users: @users }) %>
  </div>

  <div class="mt-3 d-flex justify-content-center">
    <form action="/games/<%= @game.id %>/">
      <button type="submit" class="btn btn-primary">Lancer la partie</button>
    </form>
  </div>
</div>
