<div class="pages-backscreen" style="min-height: 100vh">
  <h1 class="background-top-title background-lobby-top-title"><%= @storyline_title %></h1>
  <div class="container" data-controller="lobby" data-lobby-id-value="<%= @game.id %>" data-lobby-participation-id-value="<%= current_user.find_participation_for(@game).id %>">
    <div class="lobby-content">
      <%= image_tag(@game.qr_code, class: 'lobby-qrcode') %>


      <div class="lobby-pin-share">
        <div class="h3 lobby-pin">PIN: <%= @game.pin %></div>
          <%= image_tag('dotted-lines.svg', class: 'lobby-img-margin') %>
        <div class="lobby-share">Partager ce code</div>
      </div>

      <div class="lobby-players-list" data-lobby-target="players">
        <%= render(partial: "player", locals: { users: @users }) %>
      </div>

      <div class="lobby-launch">
        <% if current_user == @game.user %>
          <div>
            <%= link_to "Lancer la partie", start_game_path(@game), data: { turbo_method: :patch }, class: "btn-home" %>
          </div>
        <% else %>
          <div>
            <p>En attente du lancement par <%= @game.user.name %>...</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
