<div data-controller="game" data-game-target="pageHandle" data-game-id-value="<%= @game.id %>" data-game-participation-id-value="<%= current_user.find_participation_for(@game).id %>">
  <div class="container">
    <div class="riddles-container d-none" data-game-target="riddlesHandle">
      <%= render 'game_state', game: @game %>
    </div>

    <div class="mt-3 mb-3 story-introduction" data-game-target="introduction">
      <h1>Introduction</h1>
      <%= cl_image_tag @storyline.photo.key, alt: (@storyline.title + "-picture"), id: "storyline-picture-intro", class: "storyline-picture-card" %>
      <p><%= @storyline.introduction %></p>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" data-action="click->game#closeIntroduction">C'est parti!</button>
      </div>
    </div>

    <div class="map-position">
      <%= render 'map' %>
    </div>
  </div>
</div>
