<div class="container" data-controller="game" data-game-id-value="<%= @game.id %>">
  <%= render 'game_state', game: @game %>

  <div class='d-flex justify-content-center' data-controller="answer-modal">
    <button class="btn btn-primary" data-action="click->answer-modal#openModal" >Répondre</button>
      <%= render "answer_modal", riddle: @game.current_place.current_riddle(@game), game: @game %>
      <div data-answer-modal-target="displayriddle"></div>
  </div>

  <div class="mt-3 story-introduction" data-game-target="introduction">
    <h1>Introduction</h1>
    <p><%= @storyline.introduction %></p>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" data-action="click->game#closeIntroduction">C'est parti!</button>
    </div>
  </div>

  <%= render 'map' %>
</div>
