<div class="riddle-container">
  <%= form.input :title %>
  <%= form.input :photo %>
  <%= form.input :description %>
  <%= form.input :question %>
  <%= form.input :solution %>
  <%= form.input :motion_type %>
  <%= link_to_remove_nested(form, link_classes: 'btn btn-danger', link_text: 'Supprimer l\'énigme') %>
</div>
